<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="index_contact(about)">
    <div class="index-contact">
        <div class="bg">
            <img th:src="${#strings.arraySplit(about.cmsFileCode,'|')[0]}"/>
        </div>
        <div class="mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="index-video">
                        <a class="img-box">
                            <img th:src="${#strings.arraySplit(about.cmsFileCode,'|')[1]}"/>
                        </a>
                        <div class="video-box">
                            <a class="play" href="javascript:;"></a>
                            <iframe class="iframe" data-src="https://www.youtube.com/embed/V_fuccaoov8?rel=0&showinfo=0"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="txt">
                        <h3 th:text="${about.title}">ABOUT SKYJADE</h3>
                        <p th:utext="${item}" th:each="item : ${#strings.listSplit(about.descri,'|')}">
                            <br/></p>
                        <a class="more" th:href="${about.moreHtmlUrl}" th:text="${about.more}">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</div>
