<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.HuangUsernameMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.HuangUsername" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="time_long" property="timeLong" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<sql id="Base_Column_List" >
	id,user_name,time_long,start_time,end_time,status
</sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fc.test.model.auto.HuangUsernameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from huang_username
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from huang_username
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="String" >
    delete from huang_username
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" parameterType="com.fc.test.model.auto.HuangUsernameExample" >
    delete from huang_username
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.test.model.auto.HuangUsername" >
    insert into huang_username (
      	  	       id,
       	  	       user_name,
       	  	       time_long,
       	  	       start_time,
       	  	       end_time,
       	  	    	  status
       	    )
    values (
	  	  	      	#{id,jdbcType=VARCHAR},
       	  	      	#{userName,jdbcType=VARCHAR},
       	  	      	#{timeLong,jdbcType=VARCHAR},
       	  	      	#{startTime,jdbcType=TIMESTAMP},
       	  	      	#{endTime,jdbcType=TIMESTAMP},
       	  	    	  #{status,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.HuangUsername" >
    insert into huang_username
    <trim prefix="(" suffix=")" suffixOverrides="," >
          
      <if test="id != null" >
        id,
      </if>
      
         
      <if test="userName != null" >
        user_name,
      </if>
      
         
      <if test="timeLong != null" >
        time_long,
      </if>
      
         
      <if test="startTime != null" >
        start_time,
      </if>
      
         
      <if test="endTime != null" >
        end_time,
      </if>
      
         
      <if test="status != null" >
        status,
      </if>
      
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
          <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
          <if test="timeLong != null" >
        #{timeLong,jdbcType=VARCHAR},
      </if>
          <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
          <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
          <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.test.model.auto.HuangUsernameExample" resultType="String" >
    select count(*) from huang_username
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update huang_username
    <set >
          <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
          <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
          <if test="record.timeLong != null" >
        time_long = #{record.timeLong,jdbcType=VARCHAR},
      </if>
          <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map" >
    update huang_username
    set
            	     	 id = #{record.id,jdbcType=VARCHAR},
    	       
        	     	 user_name = #{record.userName,jdbcType=VARCHAR},
    	       
        	     	 time_long = #{record.timeLong,jdbcType=VARCHAR},
    	       
        	     	 start_time = #{record.startTime,jdbcType=TIMESTAMP},
    	       
        	     	 end_time = #{record.endTime,jdbcType=TIMESTAMP},
    	       
        	     	 status = #{record.status,jdbcType=VARCHAR},
    	       
        <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
    <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.HuangUsername" >
    update huang_username
    <set >
                          <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
                      <if test="timeLong != null" >
        time_long = #{timeLong,jdbcType=VARCHAR},
      </if>
                      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
                      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
                      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
              </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.auto.HuangUsername" >
    update huang_username
    set 
             	        	    	 			user_name = #{userName,jdbcType=VARCHAR}
		     	        	    	 			time_long = #{timeLong,jdbcType=VARCHAR}
		     	        	    	 			start_time = #{startTime,jdbcType=TIMESTAMP}
		     	        	    	 			end_time = #{endTime,jdbcType=TIMESTAMP}
		     	        	    	 			status = #{status,jdbcType=VARCHAR}
		     	        where id = #{id,jdbcType=VARCHAR}
  </update>
   </mapper>